/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/05/2017, 15:06:36
    Author     : MauMau
*/

.panel-default {
opacity: 0.9;
margin-top:100px;
}
.form-group.last { 
    margin-bottom:0px; 
}

.page-title {
    text-align:center;
}
