/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/05/2017, 10:20:41
    Author     : MauMau

*/

/* TELA LOGIN */
.page-title {
    text-align:center;
}
.panel-default {
    opacity: 0.9;
    margin-top:100px;
}

/* CSS DOS CONTEUDOS MEIO*/
.row-busca-titulo {
    margin-top: 20px;
    margin-bottom: 10px;
}

.row-busca-titulo h1 {
    margin: 0px;
    padding: 0px;
}
.row-lista-corpo {
    margin-top: 20px;
    margin-bottom: 10px;
}
.corpo{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-bottom: 20px;
    background-color: #f8f8f8;
}